# Override setting for ss/kcp 

SERVER_ADDR=0.0.0.0 
SERVER_PORT=2222
LOCAL_PORT=1080 
PASSWORD=examplepwd
METHOD=chacha20-ietf-poly1305 
TIMEOUT=60 
FASTOPEN=--fast-open 
UDP_RELAY=-u
PLUGIN=v2ray-plugin
PLUGIN_OPTS=server 
KCP_LISTEN=3333
KCP_PASS=examplepwd 
KCP_ENCRYPT=salsa20 
KCP_MODE=fast2 
KCP_MTU=1350 
KCP_SNDWND=2048 
KCP_RCVWND=2048 
KCP_DSCP=46 
KCP_NOCOMP=false 
